/* ..... common.....*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.body {
  font-family: 'PT Serif', serif;
}
.container {
  max-width: 1200px;
  /* padding: 0 30px; */
  margin: 0 auto;
  padding: 0px;
}
.pc {
  display : none;
}
.resch_box h3 {

  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: #ffffff;
}
/* ..... header.....*/
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*height: 51px;*/
  overflow: hidden;

}

header .logo img {
  width: 99px;
  padding-left: 15px;
}
header .awesome {
  background: none;
  border: none;
  font-size: 30px;
  padding-right: 15px;
}

/* banner */
.banner {
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  /* height: 399px; */
  padding: 143px 0;
  text-align: center;
  background-size: cover;
  color: white;
  background-position: center;
}
.banner h2 {
  line-height: 32px;
}
.banner p {
  margin: 20px 0 30px;
  font-size: 20px;
  line-height: 1.3;
}
.banner a {
  background-color: #f04e23;
  border-radius: 26px;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
}

/* programme */
.program_main {
  background-color: #eef8f0;
  padding-bottom: 50px;
}
.program_main img {
  width: 100%;
}
.program_main h3 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: #103c42;
}
.ug_box h3 {
  font-size: 20px;
  text-align: left;
  /* margin-left: -17px; */
  color: #f04e23;
}
.ug_box ul {
  font-size: 16px;
  text-align: left;
  /* margin: 1px 0 0 15px; */
  padding-bottom: 20px;
  padding-left: 33px;
}
.ug_box a {
  font-size: 13px;
  text-decoration: underline;
  color: #f04e23;
  padding-left: 15px;
}
.ug_box a:hover {
  color: blue;
}

/*admission box*/
.admission_wrap {
  background-color: #235d75;
  width: calc(90% + 60px);
  margin-left: -30px;
  /* margin-right: -21px; */
}
.admission_wrap h3 {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.admission_box {
  border: none;
  background-color: #235d75;
  width: 100%;
  text-align: center;
  padding: 45px 0px;
  margin: 0 auto;
}
.admission_box table {

  line-height: 49px;
  margin: 0 auto;
}
.admission_box input {
  background-color: transparent;
  border: solid 1px #ebe5e5;
  color: grey;
  height: 30px;
  padding-left: 21px;

}
.admission_box th {
  color: white;
}
.admission_box td {
  padding-left: 30px;
}
.admission_box button {
  background-color: #f04e23;
  border-radius: 25px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  margin-top: 21px;
  font-size: 15px;
  padding: 10px 33px;
  border: none;

}
/*§§§research box§§§*/

.resch_box {
  background-color: #e0e2d9;
  margin:0;
  text-align: center;
  padding-top: 2px;

}
.resch_box .container {
  padding: 0;
  background-color: #252525;
}
.resch_box .research_section h3 {
  padding: 30px 0 20px 10px;
    color: #f04e23;
    font-size: 22px;
    text-align: left;
}
.resch_box .research_section .r1 {
  padding: 10px 10px 50px 10px;
}
.resch_box .rtext1 {
  background-color: #e3e7e8;
  padding-left: 10px;
  padding-bottom: 50px;
}
.resch_box li {
  text-align: left;
  list-style: none;
}
.resch_box .research_section img {
  width: 100%;
}
.resch_box p {
  padding: 10px 32px 24px 1px;
  line-height: 140%;
}
.resch_box .rtext1 a {
  color: #f04e23;
  text-decoration: underline;
  padding-bottom: 10px;
}
/*§§§§§news and events§§§§§§§*/
.ne_box .container {
  max-width: 1200px;
  /*  margin: 0 auto;*/
  padding: 0;
}
.ne_box  h3 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: #103c42;
}
.ne_box .event {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.e1image {
  width: 45%;
  display: inline;
  margin-bottom: 10px;
}
.event span {
  font-size: 10px;
  color: white;
  margin-bottom: 5px;
}
.e1text {
  background-color: #235d75;
  width: 45%;
  display: inline;
  height:auto;
  margin-bottom: 10px;
}
.event .e1text h3 {
  color: white;
  text-align: center;
  font-size: 30px;
}
.event .e1text p {
  font-size: 14px;
  color: white;
  padding: 15px;
}
.ne_box .e1image img {
  width: 100%;
}
/*$$$$$$$$$$$$$$$$about & contact&&&&&&&&&&&&&&*/
.ac .container {

  color: #eef8f0;
}
.ac .about h3 {
  padding: 20px 1px;
}
.ac .about p {
  padding: 15px 10px 36px 1px;
  font-size: 15px;
}
.ac .socialmedia .ul {
  /*display: flex;*/
}
.ac .socialmedia li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  list-style: none;
  display: inline;
  font-size: 14px;
  padding: 15px;
}
.ac .socialmedia li a i {
  color: black;
}
.contakt .container {
  padding: 0;
}
.contakt h3 {
  font-size: 20px;
  text-align: left;
  padding: 44px 0 14px;
}
.contakt p {
  padding-bottom: 20px;
}
.ac {
  background-color: #2d312e;
}
.ac .contakt li {
  list-style: none;
  padding-bottom: 10px;
}
.ac .contakt li a {
  color: #f04e23;
  margin-right: 15px;

}
.ac .about_main {
  padding: 15px;
}
.ac .contakt {
  padding: 15px;
}

/*$$$$§§§§§§§§§§§ footer §§§§§§§§§§§$$$$*/
.footer_contact {
  text-align: left;
}
.copy {
  padding: 0px;
  background: grey;
  width: 100%;
  padding: 12px 0px;
  text-align: center;
}
.copy small {
  color: white;
  text-align: center;
}
/* End of footer */

@media only screen and (min-width: 992px) {
  .pc {
    display: block;
  }
  /* ..... common.....*/
  * {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .body {
    font-family: 'PT Serif', serif;
      margin: 0 auto;

  }


  main {
    margin-top: -58px;

  }
  /* ..... header.....*/
  header .container {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    /*height: 51px;*/
    overflow: hidden;
  }
  header .logo img {
    width: 120px;
  }
  header .awesome {
    display: none;
  }
  header nav ul {
    float: left;
    padding: 10px;
    display: flex;
  }
  header nav ul li {
    list-style-type: none;
    padding: 10px;

  }
  header nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  a:hover {
    color: #f04e23;
  }
  /* banner */
.banner {

padding: 150px 0;
background-position: top;
}
  .banner h2 {
    line-height: 55px;
    font-size: 39px;
  }
  .banner p {
    margin: 20px 0 30px;
    font-size: 28px;
    line-height: 1.3;
  }
  .banner a {
    background-color: #f04e23;
    border-radius: 26px;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
  }
  /* programme */

  .program_main {
    background-color: #eef8f0;
    padding: 0px;
  }
  .program_main .container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    max-width: 90%;
    padding: 10px 0px 45px 0px;

  }
  .program_main .course {
    width: 60% ;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
  .program_main .pg_box {
    width: 46% ;
    /* padding-right: 10px; */
    background-color: #e3e7e8;
  }
  .program_main .ug_box {
    width: 46% ;
    background-color: #e3e7e8;
  }
  .program_main  .admission_wrap {
    width: 35%;
  }

  /* .program_main1 {
  width: 96%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  } */

  .program_main h3 {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: #103c42;
  }
  .program_main .ug_box img {
    width: 100%;
  }
  .program_main .ug_box h3 {
    font-size: 20px;
    text-align: left;
    margin-left: 3px;
    color: #f04e23;
  }

  .program_main .ug_box ul {
    font-size: 16px;
    text-align: left;
    padding-left: 36px;
    /*margin: 1px 0 0 15px;
    padding-bottom: 20px;*/
    padding-bottom: 20px;

  }
  .program_main .ug_box a {
    font-size: 16px;
    text-decoration: underline;
    color: #f04e23;
    margin: 18px;
    /* margin-bottom: 23px; */
    display: block;

  }
  .ug_box a:hover {
    color: #f04e23;
  }

  .program_main .pg_box img {
    width: 100%;
  }
  .program_main .pg_box h3 {
    font-size: 20px;
    text-align: left;
    margin-left: 3px;
    color: #f04e23;
  }

  .program_main .pg_box ul {
    font-size: 16px;
    text-align: left;
    /* margin: 1px 0 0 15px; */
    padding-bottom: 20px;
    padding-left: 39px;
  }
  .program_main .pg_box a {
    font-size: 16px;
    text-decoration: underline;
    color: #f04e23;
    display: block;
    margin: 20px;
  }
  .pg_box a:hover {
    color: #f04e23;
  }
  /* .program_main1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  } */

  .admission_wrap {
    background-color: #235d75;
  }
  .admission_wrap h3 {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background-color: #235d75;
    color: white;
  }
  .admission_box {
    border: none;
    background-color: #235d75;
    text-align: center;
    margin: 0  auto;
    padding: 0px;
  }
  .admission_box table {
    padding: 20px 10px;
    line-height: 49px;
  }
  .admission_box input {
    background-color: transparent;
    border: solid 1px #ebe5e5;
    color: grey;
    height: 30px;

  }
  .admission_box th {
    color: white;
  }
  .admission_box td {
    padding-left: 30px;
  }
  .admission_box button {
    background-color: #f04e23;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 58px;
    /* margin-top: 21px; */
    font-size: 15px;
    padding: 10px 33px;
  }




  /*§§§research box§§§*/

  .resch_box {
    background-color: #252525;
    padding-top: 2px;
  }
  .research_section {
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .resch_box .research_section .r1 {
    text-align: center;
    flex: 1;


  }
  .resch_box .research_section li:last-child {
    float:right;
  }
  .resch_box .research_section img {
    width: 100%;
    height: 200px;

  }
  .resch_box .research_section p {
    font-size: 16px;
    text-align: justify;
    padding: 20px 10px 21px 10px;
    /* line-height: 160%; */
    text-align: justify;
    text-align: left;
  }


  .resch_box .research_section .rtext1 {
    min-height: 250px;
    position: relative;
  }
  .resch_box .research_section .rtext1 a {
    text-align: left;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20px;


  }
/* NEWS AND EVENT */
.ne_box {
  background-color: #e3e7e8;
}
.ne_box .container .newshead h3 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: #103c42;
}

.ne_box .event_main {
  width: 50%;
}
.ne_box .news_main {
  width: 50%;
}
.ne_box .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/*§§§§ contakt §§§§*/
footer {

}
footer .ac  {
  width: 100%;
  background-color: #252525;
  flex-direction: column;
}
footer .ac .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
footer .ac .about h3 {
  text-align: left;
  color: #eef8f0;
  font-size: 22px;
  padding: 0;
}

footer .ac .about_main {
  width: 50%;
  padding: 52px 0 50px 107px;
}
footer .ac .contakt {
  width: 50%;
  padding: 10px 0px 0px 270px;
}
footer .ac .contakt .h3 {
  padding: 0px 0 33px 0px;

}
.footer .ac .about p {
  padding: 15px 48px 36px 1px;
}



}
