/* ..... common.....*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.body {
  font-family: 'PT Serif', serif;
}
.container {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
}

/* ..... header.....*/
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*height: 51px;*/
  overflow: hidden;
}
header .logo img {
   width: 99px;
}
header .awesome {
  background: none;
  border: none;
  font-size: 30px;
}

/* banner */
.banner {
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  /* height: 399px; */
  padding: 100px 0;
  text-align: center;
  background-size: cover;
  color: white;
  background-position: center;
}
.banner h2 {
  line-height: 32px;
}
.banner p {
  margin: 20px 0 30px;
  font-size: 20px;
  line-height: 1.3;
}
.banner a {
  background-color: #f04e23;
  border-radius: 26px;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
}

/* programme */
.program_main {
  background-color: #eef8f0;
  padding-bottom: 30px;
}
.program_main img {
  width: 100%;
}
.program_main h3 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
.ug_box h3 {
  font-size: 20px;
  text-align: left;
  margin-left: -17px;
}
.ug_box ul {
  font-size: 16px;
  text-align: left;
  margin: 1px 0 0 15px;
  padding-bottom: 20px;
}
.ug_box a {
  font-size: 13px;
  text-decoration: underline;
  color: #f04e23;
}
/*admission box*/
.admission_wrap .{
  background-color: #eef8f0;
  width: 100%;
}
.admission_wrap h3 {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.admission_box {
  border: none;
background-color: #235d75;
width: 100%;
text-align: center;
padding: 25px 0;
margin: 0  auto;
}
.admission_box table {
  padding-left: 20px;
  line-height: 30px;
  padding-bottom: 20px;
  align-items: center;
}
.admission_box input {
  background-color: transparent;
  border: solid 1px #ebe5e5;
  color: grey;

}
.admission_box th {
  color: white;
}
.admission_box td {
  padding-left: 30px;
}
.admission_box button {
  background-color: #f04e23;
  border-radius: 25px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 41px;
  margin-top: 21px;
  font-size: 15px;
  padding: 10px 33px;

}
/*§§§research box§§§*/
.resch_box {
  background-color: #252525
  width: 97%;
  margin:0 auto;
  text-align: center;
  padding: 20px 0;
}
.resch_box .container {
  padding: 0;
}
.resch_box li {
  text-align: left;
  list-style: none;
}
.resch_box .container img {
  width: 100%;
}
.resch_box p {
  padding: 10px 0 40px 0;
  line-height:140%;
}
.resch_box h3 {
  padding: 10px 0 10px 0;
  color: #f04e23;
}
.resch_box a{
  color: #f04e23;
}

/*news and events*/
.ne_box .container {
  max-width: 1200px;
    /* padding: 0 50px; */
    margin: 0 auto;
    padding: 0;
}
.ne_box .container h3 {
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}
.ne_box .container .event {
  display: flex;
}
 /* .ne_box .event1  */
.e1image {
  width: 50%;

}
/* .event1  */
.e1text {
  background-color: #235d75;
  width: 50%;
}
/* '.ne_box .container .event2 {
  display: flex;' */
}
/* .event2 .e2image {
  width: 50%;

}
.event2 .e2text {
  background-color: #235d75;
  width: 50%;
} */
.e1text p {
  font-size: 18px;
  color: white;
}

/* about us & contact */
.ac .container {
}
.ac .container h3 {
  padding: 20px 1px;
}

.ac .container .about p {
  padding: 15px 10px 10px 1px;
  font-size: 15px;
}
.ac .container .socialmedia {
  display: flex;
}
